doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Search Results
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // Custom styles for this template
    link(href='views/stylesheets/style.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top#twitter
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.tweety(href='#') Tweety Bot
        #navbar.collapse.navbar-collapse
        // /.nav-collapse
    .container
      .starter-template
      .col-md-3
      .col-md-6
        div.results
          - for (var i = 0; i< array.length; i++)
            div.border
              if array[i].name!=null
                p.mainTitle!= array[i].name
                p.url
                  a(href!=array[i].url)!= "Get Directions"
                if array[i].distance != null 
                  p.distance!= "Distance: " + array[i].distance +" km"
              if array[i].dealName!=null
                p.mainTitleDeal!= "Deal: " + array[i].dealName
                p.url
                  a(href!=array[i].dealUrl)!= "View Offer"
                
      .col-md-3
    footer.footer 
        div.container 
          p.text-muted Conuhacks 2017
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
